


html {
    font-family: New Times Roman;
    display: inline-block;
    align-content: center;
    text-align: center;
  }

  p {
    font-size: 1rem;
  }
  body {
    margin: 0;
  }
  .topnav {
    overflow:auto;
    background-color: #0a0808;
    color: #ffffff;
    font-size: 1.25rem;
  }
  .content {
    width: 95%;
    padding: 5px;
    
  }
  .block {
    float: left;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 100%;
    margin: 5px;
    display: grid; grid-gap: 1.rem;
    grid-template-columns: repeat(2, minmax(300px, 80%));
  }
  .card {
    float: left;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    outline: 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 100%;
    margin: 5px;
    
  }
  
  .card-title {
    color:#0a0808;
    font-weight: bold;
  }
  .reading {
    font-size: 1rem;
  }

.modes {
  display: grid; grid-gap: 1.rem;
  grid-template-columns: repeat(2, minmax(300px, 80%));
}

#ratesTitle {
  font-weight: bold;
}
 